[2019-03-30 07:15] ugurdogrusoz opened #2 "Update demos with non-uniform node dimensions"
In order to show off the capability of this algorithm to support non-uniform node dimensions, we should change the demo graphs to contain nodes of varying sizes.

[2019-03-30 15:08] hasanbalci commented on #2
With [this commit](https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/commit/fa61f726941c929b82ea7eedd26a02c9bcb1cc09), I assigned three different sizes (30, 50, 70) to nodes randomly.

[2019-03-31 05:38] #2 closed

[2019-05-27 17:07] dchaplinsky opened #3 "Cannot install with bower"
[code]

[2019-05-28 14:01] hasanbalci commented on #3
Publish in the bower will be effective with the next release.

[2019-06-13 15:12] TianrenWang opened #4 "numeric is undefined"
I am getting the following error:
[code]
I forked this https://github.com/asiftasleem/angular-2-cytoscape repo. I modified the script that calls the fcose layout (called ng-cyto.component.ts) like this:

[code]

Any help would be appreciated.

[2019-06-13 17:01] hasanbalci commented on #4
@TianrenWang Since I am not so familiar with Angular.js, I didn't test the extension there. But I know someone who  encountered with the same error and he fixed it by adding the path of numeric in node modules ("node_modules/numeric/numeric-1.2.6.min.js") to the scripts field in the angular.json file (projects -> app_name -> architect -> build -> options -> scripts). I don't know whether this is a

[2019-06-13 18:32] TianrenWang commented on #4
Thank you very much. That did indeed solve the problem.

[2019-06-13 18:41] #4 closed

[2019-08-03 14:10] Ghost---Shadow opened #5 "[BUG] Crash when connecting between nodes within a group"
Minimum element array which causes the crash

[code]
![error](https://i.imgur.com/fC23Gnk.png)

Surrounding the block with a try catch works

![expected](https://imgur.com/LlnYr7o.png)

This is a `fcose` related issue as `cytoscape-cose-bilkent` does not crash.

I am also using `react-cytoscapejs` as the React wrapper for cytoscape

[2019-08-03 20:23] hasanbalci commented on #5
@Ghost---Shadow  The bug should be fixed in the unstable branch. Can you test and verify?

[2019-08-04 04:49] Ghost---Shadow commented on #5
@hasanbalci The crash is fixed. You can close the isssue.

[2019-08-04 08:15] #5 closed

[2019-09-04 05:52] ugurdogrusoz opened #6 "Pack disconnected graph components using new utility"
Let's pack the disconnected graph components using the [new utility](https://github.com/iVis-at-Bilkent/cytoscape.js-layout-utilities) as suggested in its README. We should add a new option to this layout though named *packComponents*, which is true by default to control the use of this facility.

[2019-09-10 07:22] hasanbalci opened #7 "Layout doesn't work in subgraphs"
Running the layout on a subset of graph elements (eles.layout()) throws error.

[2019-09-24 12:13] #7 closed

[2019-09-27 11:09] ugurdogrusoz opened #8 "Draft layout doing minimal incremental iterations"
Right now when layout quality if draft, we don't do any incremental layout (just spectral layout), and this results in nodes with same topology being placed at same locations. Perhaps a minimal number of iterations (say 5-10) would actually at least get rid of these overlaps.

[2019-10-01 07:21] ugurdogrusoz opened #9 "Uniform node dimensions"
Once [this issue](https://github.com/cytoscape/cytoscape.js-cose-bilkent/issues/91) is resolved, we should expose it in this layout style as well.

[2019-10-02 07:23] hasanbalci commented on #6
I added this functionality to the layout and updated compound demo to check this feature.

[2019-10-02 08:27] ugurdogrusoz commented on #6
Can we set desired aspect ratio to be 16:9 or to be the actual value of the Cytoscape.js canvas if possible?
Can we also increase the component spacing to leave more room around components.

[2019-10-02 08:34] #6 closed

[2019-10-09 12:12] hasanbalci commented on #3
Extension is now available in the bower.

[2019-10-09 12:12] #3 closed

[2019-10-18 06:17] #9 closed

[2019-11-06 06:02] canbax opened #12 "second `npm install` gives error (unstable branch)"
First `npm install` works fine.
When I run it for the second time. It changes **package-lock.json** file. Like below. (when I revert changes, `npm install` runs fine)
![image](https://user-images.githubusercontent.com/8426741/68272047-989ebb80-0073-11ea-9517-f7e5005d3e4a.png)

It gives below error when I run `npm install` second time.

PS D:\...\..> npm i
npm ERR! code EINVALIDTAGNAME
npm ERR! Inv

[2019-11-06 07:01] hrvoj3e opened #13 "Cannot read property 'getEdgesBetween'"
I get when running `layout(...).run()` on a subset of newly added nodes.

[code]
Line `115`
https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/blob/8e02e9b493d16f7446052e2188a29198d85e0234/src/fcose/cose.js#L109-L120

My code
[code]

[2019-11-06 11:34] hasanbalci commented on #12
@canbax I think you don't get the latest unstable of the fcose. The latest commit SHA in unstable is 0b47401dfb5a8a533f0a1d3554d4905a9c211135, but in the image you sent it seems the last commit you get is e103493faa0129cff0de419f70ec950be6f4f3ba which a relatively old commit. Can you please use `npm update` to update the fcose to the latest unstable and then try again?

[2019-11-06 13:37] hasanbalci commented on #13
@hrvoj3e The reason behind the error is that you give dangling edges to the layout which doesn't deal with that case. (`node.outgoers()` only returns outgoing edges and target nodes, not the source node.)

What I can suggest you is to use [cytoscape-layout-utilities](https://github.com/iVis-at-Bilkent/cytoscape.js-layout-utilities) extension that does exactly what you want. It positions the newly

[2019-11-06 15:34] canbax commented on #12
thank you. `npm update` changed the commit.

note: `npm update` updates all of the dependencies.

[2019-11-06 15:34] #12 closed

[2019-11-06 18:57] ugurdogrusoz commented on #13
@hrvoj3e In other words, a layout algorithm will not properly work if you want to layout edges whose both ends aren't provided (as nodes to be laid out).

[2019-11-12 18:42] pmuno007 opened #14 "Position ignored by Cytoscape"
I currently have a graph with 3000 nodes and 15000 edges. Loading of this graph takes about 1 minute and 30 seconds. I tried pre-assigning positions to the nodes to reduce loading times, but these seem to be ignored on load, and cytoscape recalculates the positions, which I imagine happens due to the clustering. Is there anyway to pre-assign positions to the graph data to help reduce loading times

[2019-11-12 20:27] hasanbalci commented on #14
@pmuno007 I didn't understand how this is related with fcose. If you're trying to apply a layout after you add graph elements to cytoscape, cytoscape uses [grid](https://js.cytoscape.org/#layouts/grid) layout as default if you don't specify a layout. If you have position information for your nodes and want to use those positions on load, then you need to use [preset](https://js.cytoscape.org/#layo

[2019-12-20 12:39] #14 closed

[2019-12-20 12:40] #13 closed

[2020-01-22 17:02] epideveloper opened #15 "Overlapping compound nodes"
I was wondering if this library supports the creation of compound nodes that overlap? If not, is there a workaround to be able to represent and visualize overlapping compound nodes?

[2020-01-23 05:44] ugurdogrusoz commented on #15
@epideveloper Unfortunately no.

[2020-01-23 05:44] #15 closed

[2020-02-05 00:55] geotheory opened #16 "Struggling to set aspect ratio"
This is a really great layout, but I'm struggling to set the aspect ratio for bigger/more densly connected graphs.  This [jsfiddle](https://jsfiddle.net/geotheory/eqsthad7/) ilustrates.  Am I missing something in the parameters?  Adjusting desiredAspectRatio by swapping width and height has no effect.

[2020-02-05 07:15] hasanbalci commented on #16
@geotheory It seems that adding `utilityFunction: 2` as an option to layout-utilities extension solves your issue. I think this option offers an alternative between giving priority to maximum fullness (by setting it to 1) and showing more respect to aspect ratio (by setting it to 2). You can find more detailed information about the layout-utilities extension [here](https://github.com/iVis-at-Bilke

[2020-02-05 09:29] geotheory commented on #16
Thanks @hasanbalci but I can't seem to get this to work - I've tried putting that line in `layoutUtilities({ ... })` as well as `this.layout({ ... })` to no effect.  Are you possibly able to demo with the jsfiddle above?

[2020-02-05 10:32] hasanbalci commented on #16
@geotheory In this [jsfiddle](https://jsfiddle.net/0cxpa6vq/5/), I set options of layout-utilities as `desiredAspectRatio: this.width()/this.height()` and `utilityFunction: 2`. Since cy.width()/cy.height is equal to 100 / 50 = 2, in the resulting layout I can obtain an aspect ratio close to 2 as shown below:

![image](https://user-images.githubusercontent.com/22586369/73833220-ac94bd80-481a-11ea-9

[2020-02-07 21:54] geotheory commented on #16
Thanks for your assistance Hasan. To be honest I think the solution is only limited to smaller graphs. Whenever I increase the nodes/edges it still ends up as a cube!  Perhaps worth considering if further development could fix so calculated node positions could be rescaled to hard-code aspect ratio. But I appreciate if there are other priorities.

[2020-02-10 05:48] ugurdogrusoz commented on #16
@geotheory as pointed out earlier, this layout extension makes use of [this extension](https://github.com/iVis-at-Bilkent/cytoscape.js-layout-utilities) to pack components of disconnected graphs. Neither that layout utility extension nor this layout extension will perform a layout on a *connected subgraph* to result in a layout with desired aspect ratio but rather will *pack* **already laid out co

[2020-02-10 09:22] geotheory commented on #16
Thanks for this, and again for you help. I've implemented fcose so maybe been to do a bit more back end or cy.filter work to de-densify (©) the graph.

[2020-02-10 10:27] ugurdogrusoz commented on #16
@geotheory if you think your graphs are very dense and would like to manage their complexity through some complexity management operations, you might want to consider using [this extension](https://github.com/iVis-at-Bilkent/cytoscape.js-view-utilities) and [this one](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse).

[2020-02-10 10:27] #16 closed

[2020-04-08 08:10] ugurdogrusoz opened #18 "Tree reduction during non-incremental layout"
Currently non-incremental layout of fcose calls incremental layout of the cose algorithm, which doesn't reduce trees, and hence takes longer. There is not much of a reason not to reduce the trees during non-incremental layout of fcose though. So, if we can implement a non-exposed flag named to cose (cose-bilkent) to force tree reduction (even during incremental cose) and set it to true for non-inc

[2020-04-08 14:04] hasanbalci commented on #18
With this commit https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/commit/d2d3d81535e95b932bd17da5a2c3fe7774a280d8, tree reduction is now applied during non-incremental layout.

[2020-05-20 14:04] hasanbalci opened #22 "Static layout on empty graph gives error"
When static layout is called on zero number of elements, layout gives error in console.

[2020-05-20 14:40] hasanbalci commented on #4
**Important:** Beginning from v1.2.2, numeric.js dependency is **removed** from fCoSE. Before v1.2.2, angular.js was requiring a path to be added into angular.json file as mentioned above. From now on, there is no need to this path and users who added this path before must remove it when they update fCoSE to a version >=1.2.2.

Thanks!

[2020-05-21 12:53] hasanbalci commented on #22
@ugurdogrusoz You can verify this in Newt by hiding all elements and applying static layout. Before it was giving error, now it is fixed.

[2020-05-22 05:54] #22 closed

[2020-06-21 16:53] johnha opened #23 "error when no nodes in graph"
FYI - I am using in vue/ reactive graph.   An error was introduced in v1.2.3 when there are no nodes in the graph.   Error when no decendants reported in the auxilliary package:

Specifically:
var currentNode = topMostNodes[0];
var childrenOfCurrentNode = cy.collection();
childrenOfCurrentNode.merge(currentNode).merge(currentNode.descendants());

I can see some code removed that checked to return

[2020-06-21 18:12] hasanbalci commented on #23
@johnha Thanks for the notice. There is a closed issue #22 related to this problem. We fixed it in the unstable branch and it will be available with the next release.  For now, you can either use v1.2.2 if you're not dealing with hidden nodes (because v1.2.3 fixes a bug related to hidden nodes), or you can use v1.2.3 with a check prior to running the layout (if number of nodes > 0, then run layout

[2020-06-22 21:17] johnha commented on #23
great.    many thanks for the quick response!    a great library!

[2020-06-22 21:17] #23 closed

[2020-09-19 20:53] YusaNazuna opened #24 "If quality is proof, mount () will not work"
[code]

With the above settings, the graph is not laid out correctly when `mount()` is used. It will only display a straight line graph.
As far as I've verified, quality=proof only works when the initial option is container.

### Works pettern

app.tsx
[code]

index.html
[code]

### Not works pettern

app.tsx
[code]

cytoscape.tsx
[code]

index.html
[code]

Can you confirm this issue?

[2020-09-20 06:41] hasanbalci commented on #24
@YusaNazuna I will look into the layout after `mount()` in detail. However, considering the cue you gave "It will only display a straight line graph.", this generally happens when all nodes are at the same position (on top of each other) before layout and `randomize: false` is used. In such a case, using a randomized layout (positioning nodes randomly) is a more logical option to obtain a good lay

[2020-09-20 07:02] YusaNazuna commented on #24
@hasanbalci
Thanks for checking it out for me.
The `node` and `edge` data I prepared doesn't have any `position` data.
But if I follow your demo.html and do not use `mount()`, the graph is not straight.
I'm puzzled by this phenomenon.
There's a reason why I don't want it to be `randomize:true`.
The reason I don't want to set it to `randomize:true` is because I want to increase or decrease the dist

[2020-12-03 01:58] qq2575896094 opened #25 "Cannot read property 'descendants' of undefined"
Cannot read property 'descendants' of undefined

[2020-12-03 08:33] hasanbalci commented on #25
@qq2575896094 Can you please give more detail about the issue? In which case did you get the error? It would be better if you provide a JSFiddle or JSBin demo to reproduce this issue. Thanks!

[2020-12-10 05:52] ugurdogrusoz opened #26 "Constraint demo improvements"
- [x] 1. "Cose" -> "CoSE"
- [x] 2. "Add selected to ver./hor. alignment": let's change these as label/text ("Selected Nodes Vertically/Horizontally") followed by an "Add" button
- [x] 3. Add some minimal padding around the three sections (File | Layout | Constraints) so the three sections are nicely identifiable.
- [x] 4. For import/export constraints, let's have a label/text "Constraints" before

[2020-12-14 10:48] hasanbalci commented on #26
@ugurdogrusoz I updated all three demo files. Can you please review them?

[2020-12-14 11:18] #26 closed

[2020-12-15 06:07] ugurdogrusoz opened #27 "Merge constraint work to unstable"

[2020-12-15 09:06] hasanbalci commented on #27
The PRs in cose-base (iVis-at-Bilkent/cose-base#5) and in this repository (#28) merged the constraint work to unstable branches of the corresponding repositories.

[2020-12-31 12:34] hasanbalci commented on #25
I now remembered that this bug occurs in the current release when there is no nodes in the graph and one tries to apply layout. This bug is solved in the unstable branch and will be available with the next release. So, I'm closing the issue.

[2020-12-31 12:34] #25 closed

[2021-01-13 10:40] steveyang331 opened #29 "the compound style could be a circle ?"
I want to build this https://nivo.rocks/bubble bubble style( circle style), but the compound style is rectangle.

Is there a way set a circle style ?

Thank you !

[2021-01-13 11:00] hasanbalci commented on #29
@steveyang331 Hi, unfortunately Cytoscape.js supports only rectangle, round-rectangle, cut-rectangle and barrel shapes for compound nodes as stated [here](https://js.cytoscape.org/#style/node-body).

[2021-01-13 11:04] steveyang331 commented on #29
Oh there had a reply :
https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/issues/29#issuecomment-759373859

On Wed, Jan 13, 2021 at 7:00 PM Hasan Balcı <notifications@github.com>
wrote:

[2021-01-13 11:06] ghost commented on #29
@hasanbalci Thank you for sharing !

May I request add circle style feature ?

[2021-01-13 11:58] ghost commented on #29
I found G6 support  https://antv-g6.gitee.io/en/examples/item/defaultCombos

[2021-01-13 12:18] hasanbalci commented on #29
@steveyang331 fCoSE is just a layout extension for Cytoscape.js library, please directly contact with [Cytoscape.js](https://github.com/cytoscape/cytoscape.js) for such feature requests. Thanks!

[2021-01-13 12:18] #29 closed

[2021-01-22 07:01] #27 closed

[2021-02-22 12:00] ugurdogrusoz opened #31 "Incremental packing of components"
This library along with related ones (e.g. cose-bilkent) should use incremental packing (as implemented [here](https://github.com/iVis-at-Bilkent/cytoscape.js-layout-utilities/issues/21)) when packing is enabled. When `tile` is true during incremental layout, let's make sure to assign a proper initial position to the compound representing tiled nodes. If this is done, `packComponents` will do a be

[2021-02-24 11:32] ugurdogrusoz commented on #31
Well done!

[2021-02-24 11:32] #31 closed

[2021-02-25 06:52] ugurdogrusoz opened #32 "Taking node labels into account"
We suspect that we're not taking *compound* node labels into account during tiling even when `nodeDimensionsIncludeLabels` is true.

[2021-03-01 13:29] #32 closed

[2021-03-02 10:11] #18 closed

[2021-03-02 10:19] ugurdogrusoz opened #33 "Improved incremental layout"
We have two potential improvements for incremental layout:
- When tiled nodes are moved, their locations are used to determine the initial position of the tiled nodes as a whole but not individually. In below example I move a node to the previous row but it's always tiled the time when incremental layout is applied.
- Degree 1 nodes (or in general nodes that are reduced as part of trees) are not l

[2021-03-03 13:02] ugurdogrusoz commented on #33
2 seems to be resolved!

https://user-images.githubusercontent.com/3874988/109809783-c41ac180-7c39-11eb-9b02-02afcabe0bb0.mov

[2021-03-18 06:46] canbax opened #34 "bad layout with expand collapse"
When I use fcose inside [expand-collapse extension, ](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse) I see very bad layouts on expand.

Below is a very small video showing what happens on [Visuall](http://visuall.herokuapp.com/). You can reproduce the video by loading [visuall.txt](https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/files/6161815/visuall.txt) inside [Visuall](h

[2021-03-18 13:20] hasanbalci commented on #34
It seems that the source of the buggy behavior is not the layout algorithm but the expand-collapse extension, so I fixed the issue there.

[2021-03-18 13:23] ugurdogrusoz commented on #34
@canbax Can you please confirm this fix?

[2021-03-18 14:30] canbax commented on #34
It seems better now. I tested on http://visuall.herokuapp.com/

[2021-03-19 12:22] #34 closed

[2021-03-26 14:26] josephrocca opened #35 "A "Hello World" example?"
Hi, thanks for your work on this great extension! I'm wondering whether there's a simple "hello world" example for newbies to start with, and if not, would you accept a pull request for one?

The existing examples/demos linked from the readme are quite "elaborate" due to the code needed for the interface/interactivity. I often find it helpful to have a simple/minimal starting point to play with. H

[2021-04-11 05:27] ugurdogrusoz opened #36 "Seed for deterministic layout"
Similar to [this](https://github.com/cytoscape/cytoscape.js-cose-bilkent/issues/94), take an option to produce a deterministic layout that will not change with each non-incremental layout call.

[2021-05-11 10:54] josephrocca opened #37 "relativePlacementConstraint with no specified gap"
It would be handy (for my use-case, at least) to be able to specify a relative placement constraint without requiring a specific gap.
[code]
For context, I have a graph that looks like this:

![image](https://user-images.githubusercontent.com/1167575/117803064-ca0bcf00-b288-11eb-9f6d-f1cbfcb75e83.png)

where the lower nodes need to be displayed in a specific left-to-right order (based on their nod

[2021-05-11 10:57] josephrocca commented on #37
Oh! Haha, I just tried removing the `gap` property and it seems to work! I'll submit a pull request to the readme so that this is documented.

[2021-05-18 10:06] EliotRagueneau opened #39 "Allow apsectRatio paramater for packComponents"
Hi,
We, at IntAct, are really interested in the packing component option as it has always been an issue in Cytoscape.
Currently, the aspectRatio of cytoscape.js-layout-utilities is by default 1, if I analysed correctly.
![Screenshot 2021-05-18 at 11 05 49](https://user-images.githubusercontent.com/42945601/118633110-07141c00-b7c9-11eb-9b97-9b8d3eb0d7ee.png)

However, it would be really nice if by

[2021-05-18 10:33] hasanbalci commented on #39
@EliotRagueneau fCoSE actually provides component packing functionality via [cytoscape-layout-utilites](https://github.com/iVis-at-Bilkent/cytoscape.js-layout-utilities) extension and this extension has some packing-related options such as `desiredAspectRatio` and `componentSpacing`. So you can adjust the aspect ratio according to your canvas size as in fCoSE [demo](https://ivis-at-bilkent.github.

[2021-05-18 11:52] EliotRagueneau commented on #39
Oh wow that's really nice, and fits perfectly our needs, thank you very much.
I thought it needed to be a layout parameter, but it makes total sense to do it this way.

[2021-05-18 12:41] #39 closed

[2021-06-01 15:16] canbax opened #40 "if `relativePlacementConstraint` is empty array it gives error"
If `relativePlacementConstraint` is an empty array I get an error saying.

Maybe it is intentional. Or maybe it should be like this. I'm not sure.

[2021-06-01 15:48] ugurdogrusoz commented on #40
When constraint arrays are empty, we could just ignore them I think.

[2021-06-02 08:15] hasanbalci commented on #40
I added basic validity check for constraint options. If it isn't an array or an empty array, then we ignore that option. Other than this, entering the correct format is the responsibility of the user since we cannot check whether every input is valid or not.

[2021-06-02 08:21] #40 closed

[2021-06-08 17:02] jhubble opened #41 "RangeError thrown with low number of iterations"
When running a layout with a non-trivial amount of nodes and edges, a RangeError is thrown when using a small number of iterations.
If the iteration count is increased, the range error does not appear.

See example on code sandbox. Error is thrown with numIter=20, it works fine with numIter=2000

https://codesandbox.io/s/cytoscape-layout-error-6heez?file=/App.js

Partial stack trace:
 RangeError:

[2021-06-09 14:26] hasanbalci commented on #41
@jhubble The problem was related to the cooling schedule of the algorithm. It is fixed now in the unstable branch and will be available with the next release (hopefully soon). Until then, you can use the unstable branch.

[2021-06-09 14:28] ugurdogrusoz commented on #41
@jhubble Could you please check and confirm the fix for us?

[2021-06-10 19:48] jhubble commented on #41
I can confirm that low values for numIter no longer produce an error when using the unstable branch.

However, with a large set, I notice execution time is fairly similar regardless of the number. Even with a numIter as 0, I see a fairly well-formed layout. Should I expect numIter=0 to be similar to a draft layout?

[2021-06-11 06:45] hasanbalci commented on #41
@jhubble The algorithm consists of two parts: draft + iterative. If the quality is default or proof, the algorithm internally sets max number of iterations as max(numIter, 5*number of nodes) to be able to generate satisfying layouts even if numIter is given very low. But if you set the quality as "draft", then it doesn't apply iterative part but just generates a draft layout. I think you can adjus

[2021-06-11 08:56] hasanbalci opened #42 "Better node positioning during tree reduction in incremental layout"
While applying tree reduction in incremental layout, we keep relative position of the one degree node with its adjacent before reduce operation, and then bring back that node according to its relative position again while growing the tree. But if the distance between two nodes is too much, then iterations applied during grow operation may not generate a good final layout for the one degree node. T

[2021-06-11 15:18] jhubble commented on #41
@hasanbalci can the parameter documentation on the README be updated to reflect the override of numIter? I was under the impression that I could set numIter to a low number to get a fast layout at the expense of quality. However, it appears that numIter functions only as a higher ceiling, not as a lower floor.

[2021-06-14 05:46] ugurdogrusoz commented on #41
good point. @hasanbalci please explain the fact that numIter is a suggested value and might be adjusted by the algorithm as required.

[2021-06-14 11:31] #41 closed

[2021-06-21 08:57] ugurdogrusoz opened #43 "Ignore edges to ancestors in nesting hierarchy"
Currently cose-bilkent fails to perform layout on graphs where an edge is between a child node and parent (or ancestor) one. I presume fcose (directly or indirectly) does the same thing.
Why not simply ignore such edges there is not much to layout for these edges anyhow?

[2021-06-21 12:37] ugurdogrusoz commented on #43
https://github.com/iVis-at-Bilkent/pathway-mapper/issues/251

[2021-06-23 14:06] #43 closed

[2021-06-28 07:22] ugurdogrusoz opened #45 "Better tiling"
As can be seen from this example in PathwayMapper, we tile 6 identical (?) nodes to 4x2 rather than 3x2:
![image](https://user-images.githubusercontent.com/3874988/123596273-a2ea6c00-d7fa-11eb-971b-dbea6f0232a5.png)

[STAD-2014-RTK-RAS-PI(3)K-pathway.txt](https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/files/6724248/STAD-2014-RTK-RAS-PI.3.K-pathway.txt)

[2021-06-29 07:16] duuliy opened #46 "When the amount of data exceeds 2000, fcose layout consumes a lot of performance, accounting for 65% of the total rendering time"
My configuration is as follows  "cytoscape-fcose": "^1.2.3" ，Is there a better optimization plan

  name: 'fcose',
  fit: true,
  padding: 30,
  animate: false,
  nodeSeparation: 225,
  piTol: 0.0000001,
  nodeRepulsion: 18000,
  idealEdgeLength: 100,
  edgeElasticity: 0.45,
  nestingFactor: 0.1,
  tile: false,
  tilingPaddingVertical: 30,
  tilingPaddingHorizontal: 30,

[2021-06-29 08:28] hasanbalci commented on #46
@duuliy Thanks for using fCoSE. fCoSE is designed for small to medium-sized graphs (up to a few thousand of nodes and edges), so depending on the graph topology closing to or exceeding these numbers may cause a decrease in the performance of the algorithm. Here are some ways we can suggest for a better performance:
- If your node dimensions are uniform or close to uniform, you can set `uniformNode

[2021-06-29 08:48] duuliy commented on #46
OK, thank you for your reply

[2021-07-12 09:05] ugurdogrusoz opened #47 "Shift components to original location on layout"
When fCoSE runs, it might shift the center of the drawing arbitrarily (see [this similar issue in CiSE](https://github.com/iVis-at-Bilkent/cytoscape.js-cise/issues/33) for an example; this is due to problems in our force model). In order to avoid this, we should calculate the center of the drawing *before* layout and move the laid-out drawing back to this location. This should be the case for each

[2021-07-27 16:20] gverger opened #48 "Overlapping compound nodes"
Hello, thanks for the work, it is very nice to have a good looking layout algorithm for our graphs 👍

## Problem

I have a problem with compound nodes. When there are few of them, or few edges, fcose seems to behave correctly. However there are 2 cases where I see problems and I would like to know if it is a bug in the algorithm, or if it is not supposed to be handled:

I am working with graphs wh

[2021-07-28 10:33] hasanbalci commented on #48
@gverger Thanks for noticing us about the problems.

For the second case, handling compound overlaps in that graph is a hard issue since each compound is densely connected to each other. Compound nodes try to repel each other, but those dense edge connections doesn't allow that and try to keep nodes very close to each other. In other words, it is expected behavior for such graphs. We may think of

[2021-08-20 17:55] adrianbj commented on #48
Not sure if it helps at all, but I have noticed more issues with overlapping with the latest release. I have returned to an older version (from June 4) and it's significantly better - there is still some overlapping, but much less. Let me know if there is anything else I can provide that might help.

[2021-10-18 12:42] hasanbalci commented on #47
@ugurdogrusoz We now shift graph to its original location in both randomized and incremental layout. If packing is enabled, we first shift each individual component to its original location, then apply packing.

I added `fit` option to both *demo.html* and *demo-compound.html* files so that we can test whether the graph stays in its original location after layout.

[2021-11-01 08:26] hasanbalci commented on #42
On second thoughts, considering the application of the incremental layout, nodes can be in two possible situations: they are already in the graph with _not-so-bad_ positions and layout just wants to adjust them for a better positioning or they are newly added to the graph and layout wants to position them properly while preserving the mental map of the user.

For the first case, we can assume that

[2021-11-01 08:26] #42 closed

[2021-11-30 04:41] aryoxp opened #49 "Cannot Layout The Graph and Tiles On Unconnected Nodes"
Hi!,

Thank you for a nice layout library for the Cytoscape.JS.
I made the following [pen](https://codepen.io/aryoxp/pen/MWEWrWj): (https://codepen.io/aryoxp/pen/MWEWrWj)
to test how the fcose layout the graph.
According to the documentation, if I put the following option in the layout,

[code]

I expect the library should layout the graph and tile unconnected nodes.
However, when I run it, it til

[2021-11-30 05:08] hasanbalci commented on #49
Hi @aryoxp,

You need to call the layout on all elements, not only on nodes. Instead of `this.cy.nodes().layout({ ... }).run();` please use `this.cy.elements().layout({ ... }).run();` or `this.cy.layout({ ... }).run();`. Otherwise, layout cannot be aware of the edges.

[2021-11-30 06:55] aryoxp commented on #49
Thank you, @hasanbalci.
I understand now, and now it works perfectly.

[2021-11-30 06:55] #49 closed

[2021-12-24 11:55] talkhanz opened #50 "Unhandled Rejection (TopologyException): found non-noded intersection .."
Hi,

I have been running into an error whenever I plot the fcose plot using the data.

Can anyone help me debug this?

Full error message:

`Unhandled Rejection (TopologyException): found non-noded intersection between LINESTRING ( -16.981625 -46.981625, 13.778448000000001 -16.221552000000003 ) and LINESTRING ( -29.23426 -59.23426, 12.556896 -17.443104 )`
This is how I draw the fcose plot.
[code]

[2021-12-27 07:12] hasanbalci commented on #50
Hi @talkhanz,

I created a [JS Bin demo](https://jsbin.com/fozugubeze/1/edit?html,output) from the data you provided, it seems to be working without any problem and I couldn't reproduce your error. From the error message you provided, however, I'm guessing that it might be related with cytoscape-layout-utilities extension (which is used for component packing) which uses turf as a dependency becaus

[2021-12-29 07:56] talkhanz commented on #50
Hi @hasanbalci

Thankyou for getting in touch and taking the time to create JS bin demo!

I guess it does seem to be a problem with cytoscape-layout-utilities.

I'll be closing the issue here then!

[2021-12-29 07:56] #50 closed

[2022-01-18 09:32] jonng1000 opened #51 "Could not find a declaration file for module 'cytoscape-fcose'"
Hi, I am using react-cytoscapejs in my code, and when I import fcose as per the instructions here:
`import Cytoscape from 'cytoscape';
import fcose from 'cytoscape-fcose';`

I get this error:
`module "C:/Users/weixiong001/Documents/golabel/node_modules/cytoscape-fcose/cytoscape-fcose"
Could not find a declaration file for module 'cytoscape-fcose'. 'C:/Users/weixiong001/Documents/golabel/node_modul

[2022-01-18 10:49] hasanbalci commented on #51
I suppose it's related with your TypeScript settings. You can check [this](https://stackoverflow.com/questions/61258923/how-to-solve-the-could-not-find-a-declaration-file-for-module-error-using-my-o) and [this](https://stackoverflow.com/questions/43064221/typescript-ts7006-parameter-xxx-implicitly-has-an-any-type?rq=1) pages in stackoverflow for possible solutions.

[2022-01-19 06:46] jonng1000 commented on #51
Dear Hasan,

Thanks for your quick reply. I've read those pages but am still lost. Do you if its possible for me to get step by step instructions to set the types correctly? I understand I have to do that but am not sure how. Very sorry for the trouble. I am new to javascript
and come from a python background. Would uninstalling and reinstalling this module help?

Many thanks
Jonathan

[2022-01-19 16:00] jamesscottbrown opened #52 ""self is not defined" exception in nodejs"
I have installed the latest version of the package (`2.1.0`).

When I try to import it at the node REPL I encounter an error:

[code]

I also encounter the same `ReferenceError: self is not defined` with a more complex setup in which one file uses `import` to load the module, and performs the layout in a function that is imported by a second file that defines a test run by Jest.

This is possibly

[2022-01-19 16:10] hasanbalci commented on #52
This issue is fixed in the unstable branch with [this commit](https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/commit/7390ec031b1d9b0ecc532d59fed6ec80fa9264fd). It will be available with the next release, you can use the extension from unstable branch until then.

[2022-01-20 05:26] hasanbalci commented on #51
Unfortunately, I'm not very experienced with TypeScript either. Maybe, you can also use stackoverflow for a detailed answer.

[2022-01-20 05:26] #51 closed

[2022-02-01 06:57] #52 closed

[2022-02-01 07:48] hasanbalci opened #53 "Rearranging the order of the nodes in alignment constraints to reduce crossings"
To satisfy alignment constraints, we currently use the average position of the nodes in the corresponding direction and align them in that position (for vertical alignment we use average x coordinates and vice versa). However, this enforcement may cause edge crossings like in [this example](https://www.youtube.com/watch?v=58Zoa4rutmM&t=288s). After this enforcement, we can arrange the order of the

[2022-02-04 08:19] hasanbalci opened #54 "Add validity check for constraints"
We currently assume the user does not specify any conflicting constraints (e.g., node _a_ will be on the left of node _b_ and node _b_ will be on the left of node _a_). However, layout currently throws error if fed with conflicting constraints. To prevent possible errors, we can add a validity check and warn the user if he/she specify conflicting constraints.

[2022-02-21 16:30] RaitoBezarius opened #55 "Prevent overlaps with custom DOM nodes?"
Hi there, thank you for your package.

I am using React.js and custom DOM components for my nodes and it result in overlaps with fCOSE using layout constraints.
I am guessing fCOSE is not measuring the actual size of my nodes and thinks it's not creating any overlap.

How could I insert a phase to measure the whole DOM nodes sizes before starting the actual layout work?

Thank you in advance!

[2022-02-21 16:50] RaitoBezarius commented on #55
Ha, from what I am seeing, the bounding boxes are used here: https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/blob/master/src/fcose/cose.js#L56-L113 ; by doing some breakpoints there, I can see the right width / height received, could that be a bug or is overlap possible even if the viewport has enough space to do it? Should I try to do a reproducer?

[2022-02-21 19:10] hasanbalci commented on #55
Hi @RaitoBezarius, a reproducible example would be great for us to make observations and comment about your issue. fCoSE aims to prevent node overlaps but it may be inevitable in some cases based on the graph topology.

[2022-02-22 08:42] Heidernlee opened #56 "How to use [alignmentConstraint]?"
Thanks for providing such a good JavaScript Library for creating workflow.

I'm trying to use [alignmentConstraint] to create a more-good-looking fcose layout workflow.

Did I use it wrong way ?
Here's the Code , It's based on Html and JavaScript only :

          var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),
            ready: function(){
              ...

[2022-02-22 10:02] hasanbalci commented on #56
Hi @Heidernlee,  `alignmentConstraint` is an option of fCoSE so you must use it in that way. So change the corresponding line as follows:
`this.layout({name: 'fcose', animationEasing: 'ease-out', alignmentConstraint: {vertical: [['2', '3', '4']]}}).run();`

[2022-02-23 03:34] Heidernlee commented on #56
@hasanbalci
Thanks for the response.
now [alignmentConstraint] is good for me.

I also tried [relativePlacementConstraint] option,
is it the only way to sort 3 nodes like :
relativePlacementConstraint: [{top: '2', bottom: '3'},{top: '3', bottom: '4'}]
and cannot sort them with one option like :
relativePlacementConstraint: [{order: '2', '3', '4'}] ?

[2022-02-23 12:23] hasanbalci commented on #56
Yes, `relativePlacementConstraint: [{top: '2', bottom: '3'},{top: '3', bottom: '4'}]` is currently the only way.

[2022-02-24 03:20] Heidernlee commented on #56
@hasanbalci

And then I noticed  [alignmentConstraint] and [relativePlacementConstraint]
doesn't work for parent-nodes , like

There's 4 nodes : Node1 , Node2 contains Node2-1 and Node2-2 (using group option)

That seems cannot  do relativePlacementConstraint: [{top: 'Node1', bottom: 'Node2'}]
but {top: 'Node1', bottom: 'Node2-1'} worked.....

Is it a bug or to-be-improved ？

[2022-02-24 06:39] hasanbalci commented on #56
Constraints are not supported on parent nodes currently.

[2022-02-24 11:03] Heidernlee commented on #56
Got it,
But Cytoscape fCose is still the only one Library I found that can draw an edge
from Child to Parent Nodes.

Thanks for the response.

[2022-02-24 11:04] #56 closed

[2022-03-03 09:12] tonxxd commented on #52
For anyone who is facing the issue `yarn add "https://github.com/iVis-at-Bilkent/cytoscape.js-fcose#unstable"`

[2022-03-11 05:45] nfigay opened #57 "Issue for packing a compound graph"
Hello,
First of all thank you so much for this great cytoscape.js extension. It pushed me to prototype a compound graph viewer for enterprise architects working with ArchiMate.
I'm currently blocked with an issue when parameterizing the fcose layout with packing of the layout utilities. I didn't succeed in reaching the expected result, i.e. removing the wasted space on the middle of the graph, and

[2022-03-15 11:39] hasanbalci commented on #57
Hi @nfigay, it seems that the problem here is not about the packing of layout utilities. gravityRangeCompound option adjusts the range where the gravitational forces won't be applied inside a compound node. So when you increase it, you decrease the chance to apply it. Its default value is 1.5, so you may try to decrease it. If it's not resolved, you can send a reproducible example for me to explor

[2022-04-24 17:48] yaxue1123 commented on #48
@adrianbj May I ask the exact older version number with less overlapping? Thanks a lot!

[2022-05-03 17:37] adrianbj commented on #48
@yaxue1123 - sorry,  not sure exactly, but I noted above June 4 so presumably it's the version after June 2 in this list: https://github.com/iVis-at-Bilkent/cytoscape.js-fcose/commits/master

[2022-07-25 00:34] ivansglazunov commented on #41
Still error. Please reopen.

[2022-07-25 07:02] hasanbalci commented on #41
@ivansglazunov Could you provide a JSFiddle or JSBin demo to reproduce the issue?

[2022-08-09 06:25] zx2022x opened #58 "How to use Cytoscape fcose in Vue. Are there any examples"
help,my country do not this case

[2022-08-12 07:46] hasanbalci commented on #58
@zx2022x I'm not experienced with Vue.js, but vanilla JavaScript can be used in Vue.js, so the Usage Instructions in the Readme should be valid. You may ask this question in stackoverflow to reach a wider community which probably includes developers using Vue.js with Cytoscape.js extensions.

[2022-08-20 02:56] zx2022x commented on #58
非常感谢您的的回答，我解决了这个问题

[2022-08-20 04:24] #58 closed

[2022-09-08 16:25] kaushikosu opened #59 "Compound node alignment"
I am trying to add compound nodes to the alignment property of the layout and it does not work.

[2022-09-09 06:24] ugurdogrusoz commented on #59
This layout supports constraints only on simple nodes as stated in the [README](https://github.com/iVis-at-Bilkent/cytoscape.js-fcose#documentation).

[2022-09-09 06:24] #59 closed

[2022-09-12 21:50] kaushikosu commented on #59
can this be an enhancement request ?

[2022-09-13 05:25] #57 closed

[2022-09-14 15:51] kaushikosu commented on #48
I am seeing compound nodes overlapping with other compound nodes and leaf nodes. Version: 2.1.0

![image](https://user-images.githubusercontent.com/17223101/190202527-5fee19c8-8293-4864-94af-9397a99e88ec.png)

[2022-10-05 11:15] ugurdogrusoz opened #60 "Empty compounds mess up layout"
Looks like when there are empty compound nodes in the graph, these compound nodes are not taken into account, messing up the layout.

[2022-11-22 16:05] khaled commented on #52
@hasanbalci Any chance this will get released some time soon? :)